<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> {{'app.dashboard.buttons.myVotapps' | translate | uppercase}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [scrollEvents]="true">
    <div class="flex justify-center align-stretch scene" #escena>
      <div class="book-wrap" #bookWrap>
        <div class="left-side">
          <div class="book-cover-left" (click)="abrirLibro()" #tapaIzquierda></div>
          <div class="layer-text">
            <div class="page-left-2" #primerPagina>
              <div class="corner"></div>
              <div class="corner2"></div>
              <div class="corner-fold"></div>
            </div>
          </div>
        </div>
        <div class="center" #centroLibro></div>
        <div class="right-side" #derechaLibro>
          <div class="book-cover-right" #tapaDerecha></div>
          <!-- <div class="layer1">
                  <div class="page-right"></div>
              </div>
              <div class="layer2 right">
                  <div class="page-right"></div>
              </div>
              <div class="layer3 right">
                  <div class="page-right"></div>
              </div>
              <div class="layer4 right">
                  <div class="page-right"></div>
              </div> -->
          <div class="layer-text right">
            <div class="page-right-2" [routerLink]="['/mis-votapps']" #pageText>
              <app-mis-votapps [enLibro]="true"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>