$color_1: #333;
$color_2: inherit;
$color_3: #AAADB0;
$color_4: #da5a13;
$font-family_1: Arial, sans-serif;
$font-family_2: inherit;
$font-family_3: Georgia, Times, 'Times New Roman', serif;
$font-family_4: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$font-family_5: 'PT Sans', sans-serif;
$background-color_1: rgb(243 244 246);

$background-color_2: transparent;
$background-color_3: #2e1800;

.w-richtext {
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.w-richtext[contenteditable="true"] {
    &:before {
        white-space: initial;
    }

    &:after {
        white-space: initial;
    }
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    text-decoration: underline;
}

.divTitulo {
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.33);
}

#titulo {
    font-family: 'Oleo Script';
    color: whitesmoke;
    font-size: 5rem;
    letter-spacing: 1px;
    line-height: 5rem;
    margin: 0;
    text-align: center;
    -webkit-text-stroke: 1.5px #ff7e67;
}

#version {
    font-family: 'Roboto';
    font-size: .55rem;
    color: #005689;
    text-align: center;
    font-weight: bold;
    line-height: 0;
}

.scene {
    background: linear-gradient(-45deg, #007cb9, #005689, #ff895d, #d5eeff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    height: 100%;
    perspective: 4000px;
    perspective-origin: 50% 0%;
}

$book-h-ratio: 4.25;
$book-w-ratio: 3.25;
$book-size: 76px;

%absolute-center {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.book {
    @extend %absolute-center;
    width: $book-size * $book-w-ratio * 2;
    height: $book-size * $book-h-ratio;
    transform: translate(-50%, -50%) rotatex(10deg) rotatey(-10deg);
    transform-style: preserve-3d;
}

.page {
    width: $book-size * $book-w-ratio;
    height: $book-size * $book-h-ratio;
    background: #eee;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 1s;
}

@for $i from 1 through 100 {
    .page:nth-child(#{$i}) {
        @if $i % 2==1 {
            padding: 5% 4% 4% 5%;
            transform-origin: 0% 50%;
            transform: translatez(-1px * $i);
        }

        @else {
            padding: 5% 5% 4% 4%;
            transform-origin: 100% 50%;
            transform: translatez(-1px * $i) scalex(-1) translatex(100%);
        }

        @if $i >2 {
            @if $i % 20 < 10 {
                background: #f5f5f5;
            }

            @else {
                background: #ccc;
            }
        }

        @else {
            background: #9bc8d6;
        }
    }

    .left-side:nth-child(#{$i}) {
        @if $i % 2==1 {
            transform: translatez(1px * $i) rotatey(-180deg);
        }

        @else {
            transform: translatez(1px * $i) scalex(-1) translatex(100%) rotatey(180deg);
        }
    }
}

.coverImagen {
    width: 100%;
    height: 100%;
    background: url('../../../assets/logo/votapp.png') center center no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 20%;
    background-size: 170px 170px;
}

.cover-front:nth-child(1) {
    text-align: center;
    background:
        linear-gradient(#afd2dd, #a1d5e5) 50% 50% / 80% 86% no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50% / 90% 93% no-repeat,
        linear-gradient(#9bc8d6, #9bc8d6) no-repeat;
    /*  background-image: url('../../../assets/logo/votapp.png');
    background-repeat: no-repeat;
    background-attachment :local;
    background-position: center; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}