.mdc-card {
    flex-direction: row !important;
    width: 100%;
}

.openVotappsButton {
    width: 100%;
    padding: 1.3rem .5rem 1.3rem .5rem;
}

mat-card {
    margin-top: .5rem;
}

.mat-mdc-card-header {
    align-items: center;
}

.logo {
    width: 64px;
    height: 64px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-subtitle {
    min-width: 10rem;
    width: 100%;
    margin-top: .3rem;
    border: 2.3px solid darken(#3f51b5, 15%) !important;
    border-radius: 100px;
    padding: 1px 10px 1px 10px !important;
}

mat-card-title {
    min-width: 12rem;
    width: 100%;
    margin-bottom: .3rem;
    border: 2.3px solid darken(#3f51b5, 15%) !important;
    border-radius: 100px;
    padding: 1px 10px 1px 10px !important;
}

.mat-mdc-card-header {
    padding: 8px 8px;
}

.card-content-box {
    width: 100%;
}

.mat-mdc-card-avatar {
    margin-bottom: 0 !important;
}

.text-v {
    font-size: 1rem;
}

.text-xv {
    font-size: .75rem;
}

.text-xxv {
    font-size: .65rem;
}

.text-xxs {
    font-size: .6rem;
}

.opcionesVoto {
    width: 100px;
    height: 100px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

#botonDiasRestantes {
    background-color: var(--ion-color-warning);
}

.arrow-py {
    padding-top: 5px;
}

@media (max-width: 330px) {
    #voteTypes {
        flex-wrap: wrap !important;
    }
}

@media (max-width: 350px) {
    .logo {
        margin-bottom: 3px !important;
    }
}

@media only screen and (max-width: 400px) and (min-width: 335px) {
    .cuatroOpcionesVoto {
        height: 80px !important;
    }
}