<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.dashboard.buttons.myVotapps' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" *ngIf='mostrarVista'>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <app-botones-inicio [botonPresionado]="'misVotapps'"></app-botones-inicio>
    <ion-row class="bg-gray-50 py-1">
      <ion-col size-xs="12">
        <mat-card>
          <mat-card-header class="flex items-center justify-center">
            <div *ngIf="votapp.comunidad.logo; else noTieneLogo" mat-card-avatar class="logo"
              style="background-image: url('data:image/png;base64,{{votapp.comunidad.logo}}')"></div>
            <ng-template #noTieneLogo>
              <mat-icon class="icon-logo" mat-card-avatar aria-hidden="false" aria-label="Comunidad"
                fontIcon="groups"></mat-icon>
            </ng-template>
            <mat-card-title>{{ votapp.comunidad.nombre | uppercase }}</mat-card-title>
            <mat-card-subtitle>{{ votapp.votacionPunto }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="votapp.estadoVotoParticipantePretty(this.userService.currentUser) != 'pending'">
      <ion-row class="bg-gray-50">
        <ion-col size-xs="12">
          <div class="text-center">
            <h3 class="text-xxs text-neutral-600">SU VOTO PUEDE SER MODIFICADO MIENTRAS LA VOTACION ESTA ABIERTA</h3>
            <h3 class="uppercase text-neutral-700">Mi Voto</h3>
            <div class="flex justify-center pb-2">
              <div
                [ngClass]="{'text-v': votapp.estadoVotoParticipantePretty(this.userService.currentUser) == 'abstencion' || votapp.estadoVotoParticipantePretty(this.userService.currentUser) == 'pendiente'}"
                class="flex justify-center mat-elevation-z2 w-28 h-28 text-xl tracking-wide font-semibold rounded-full uppercase bg-black">
                <p class="self-center text-white">
                  {{'app.votes.states.' + votapp.estadoVotoParticipantePretty(this.userService.currentUser) |
                  translate}}
                </p>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="bg-gray-50" *ngIf="!votapp.estaFinalizada()">
        <ion-col size-xs="12">
          <div class="text-center">
            <div id="voteTypes" class="flex flex-nowrap gap-2 justify-around pb-2">
              <div matRipple [matRippleColor]="'rgb(214 211 209 0.5)'" (click)="abrirDialog(tipoVoto)"
                class="flex justify-center mat-elevation-z3 opcionesVoto text-xs text-center rounded-full uppercase bg-stone-200/[.65]"
                [ngClass]="{'cuatroOpcionesVoto': opcionesTipoDeVotos.length > 3}"
                *ngFor="let tipoVoto of opcionesTipoDeVotos">
                <p class="self-center">
                  {{'app.votes.states.'+ tipoVoto.getPrettyResult() | translate }}</p>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding">
        <div class="bg-stone-100 w-100 px-3 text-lg text-stone-400 uppercase text-center shadow-md">
          {{'app.votes.detail.partialResults' | translate}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="bg-gray-50">
      <ion-col size-xs="12">
        <div class="text-center flex justify-around py-2">
          <div
            [ngClass]="{'botonDiasRestantesWarning': pocosDiasRestantes > votapp.diasRestantes(), 'botonDiasRestantes': pocosDiasRestantes < votapp.diasRestantes()}"
            id="botonDiasRestantes"
            class="flex justify-center mat-elevation-z2 w-28 h-28 text-xv rounded-full uppercase text-neutral-50">
            <p class="self-center">Dias restantes<br><span
                class="font-semibold text-2xl">{{votapp.diasRestantes()}}</span></p>
          </div>
          <div
            class="flex justify-center mat-elevation-z2 w-28 h-28 text-v rounded-full uppercase text-neutral-50 bg-green-400">
            <p class="self-center">quorum<br><span class="font-semibold">{{votapp.porcentajeVotosQuorum()}}% /
                {{votapp.quorumRequerido}}%</span></p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="bg-gray-50">
      <ion-col size-xs="12" class="ion-no-padding">
        <div class="flex justify-around flex-wrap text-xv mb-2 text-center">
          <div
            [ngClass]="{'bg-slate-400': viendoVotosTipo == 'si', 'text-slate-500 bg-slate-300': viendoVotosTipo != 'si'}"
            (click)="mostrarVotos('si')" class="flex justify-center w-16 h-16 mat-elevation-z2 rounded-full uppercase">
            <p class="self-center">Si<br><span
                class="font-semibold">{{votapp.porcentajeVotosPorEstadoVoto('si')}}%</span>
            </p>
          </div>
          <div
            [ngClass]="{'bg-slate-400': viendoVotosTipo == 'no', 'text-slate-500 bg-slate-300': viendoVotosTipo != 'no'}"
            (click)="mostrarVotos('no')" class="flex justify-center w-16 h-16 mat-elevation-z2 rounded-full uppercase">
            <p class="self-center">No<br><span
                class="font-semibold">{{votapp.porcentajeVotosPorEstadoVoto('no')}}%</span>
            </p>
          </div>
          <div
            [ngClass]="{'bg-slate-400': viendoVotosTipo.includes('abstencion'), 'text-slate-500 bg-slate-300': !viendoVotosTipo.includes('abstencion')}"
            (click)="mostrarVotos('abstencion (con la mayoria)')"
            class="flex justify-center w-16 h-16 text-xxv hyphens-auto mat-elevation-z2 rounded-full uppercase">
            <p class="self-center">Absten&shy;cion<br><span
                class="font-semibold">{{votapp.porcentajeVotosPorEstadoVoto('abstencion (con la mayoria)')}}%</span></p>
          </div>
          <div
            [ngClass]="{'bg-slate-400': viendoVotosTipo.includes('quorum'), 'text-slate-500 bg-slate-300': !viendoVotosTipo.includes('quorum')}"
            (click)="mostrarVotos('no doy quorum')"
            class="flex justify-center w-16 h-16 mat-elevation-z2 rounded-full uppercase">
            <p class="self-center">No da Quorum<br><span
                class="font-semibold">{{votapp.porcentajeVotosPorEstadoVoto('no doy quorum')}}%</span>
            </p>
          </div>
          <div
            [ngClass]="{'bg-slate-400': viendoVotosTipo == 'pendiente', 'text-slate-500 bg-slate-300': viendoVotosTipo != 'pendiente'}"
            (click)="mostrarVotos('pendiente')" class="flex justify-center w-16 h-16 mat-elevation-z2 rounded-full uppercase">
            <p class="self-center">Sin voto<br><span
                class="font-semibold">{{votapp.porcentajeVotosPorEstadoVoto('pendiente')}}%</span></p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mostrarOtrosVotos">
      <ion-col size-xs="12">
        <ng-container *ngIf="votosFiltrados.length > 0; else noHayVotos">
          <div class="w-100 flex flex-col pb-1" *ngFor="let voto of votosFiltrados">
            <div
              class="flex justify-center text-center uppercase text-black border-dashed border-2 text-xs border-slate-400 bg-slate-200">
              <p class="self-center">{{votapp.comunidad.nombre}} - {{voto.user.name}} {{voto.user.surname}} <mat-icon
                  class="arrow-py text-slate-400">arrow_right_alt</mat-icon> {{'app.votes.states.'+
                votapp.estadoVotoParticipantePretty(this.userService.currentUser) | translate }}</p>
            </div>
          </div>
        </ng-container>
        <ng-template #noHayVotos class="pb-1">
          <div class="w-100 flex flex-col pb-1">
            <div
              class="w-100 flex justify-center text-center uppercase text-black border-dashed border-2 text-xs border-slate-400 bg-slate-200">
              <p class="self-center">No hay votos para esta opcion.</p>
            </div>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>