<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.dashboard.buttons.myVotapps' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size-xs="4">
      <ion-img src="/assets/logo/votapp-logo.jpg"></ion-img>
    </ion-col>
    <ion-col>
      <button class="mt-1 mb-1 openVotappsButton text-base font-medium" mat-raised-button
        color="primary">{{'app.dashboard.buttons.myVotapps' | translate | uppercase}}</button>
      <button class="mt-1 mb-1 openVotappsButton text-base font-medium" mat-raised-button
        color="primary">{{'app.dashboard.buttons.newVotapp' | translate | uppercase}}</button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center mb-1">
    <ion-col size-xs="12">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="logo"></div>
        </mat-card-header>
        <div class="card-content-box flex-col justify-center">
          <mat-card-content>
            <mat-card-title class="text-center">{{ votapp.comunidad.nombre }}</mat-card-title>
            <mat-card-subtitle class="text-center">{{ votapp.votacionPunto }}</mat-card-subtitle>
          </mat-card-content>
        </div>
      </mat-card>
    </ion-col>
  </ion-row>
  <ng-container *ngIf="votapp.myVoteState() != 'pending'">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-xs="12">
        <div class="votapp-content text-center">
          <h3 class="text-xxs text-neutral-600">SU VOTO PUEDE SER MODIFICADO MIENTRAS LA VOTACION ESTA ABIERTA</h3>
          <h3 class="uppercase text-neutral-700">Mi Voto</h3>
          <div class="flex justify-center pb-2">
            <div
              [ngClass]="{'bg-slate-800 text-slate-600': votapp.myVoteState() == 'pending', 'bg-green-500 text-zinc-100': votapp.myVoteState() == 'yes', 'bg-red-900 text-zinc-200': votapp.myVoteState() == 'no'}"
              class="mat-elevation-z2 w-24 h-24 text-v rounded-full py-10 uppercase">
              {{'app.votes.states.' + votapp.myVoteState() | lowercase | translate}}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-xs="12">
        <div class="text-center">
          <div class="flex justify-around pb-2">
            <div matRipple [matRippleColor]="'rgb(214 211 209 0.5)'"
              class="mat-elevation-z3 votesOptions text-xs rounded-full uppercase bg-stone-200"
              *ngFor="let result of availableResults" (click)="changeVote(result)"
              [ngClass]="{'py-6': result == 'NoQuorum', 'py-8': result !== 'NoQuorum'}">
              {{'app.votes.states.'+ result | lowercase | translate }}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" class="ion-no-padding">
        <div class="bg-stone-200 w-100 px-3 text-lg text-stone-400 uppercase text-center">
          {{'app.votes.detail.partialResults' | translate}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <div class="text-center flex justify-around pb-2">
          <div id="remainingDaysButton" class="mat-elevation-z2 w-24 h-24 text-v rounded-full py-6 uppercase text-neutral-50">
            Dias restantes<br><span class="font-semibold">{{votapp.remainingDays()}}</span>
          </div>
          <div class="mat-elevation-z2 w-24 h-24 text-v rounded-full py-8 uppercase text-neutral-50 bg-green-400">
            quorum<br><span class="font-semibold">{{votapp.getQuorumPercentageVotes()}}% / {{votapp.quorumRequerido}}%</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-grid>