<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="cerrarSesion()">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar Sesion
    </ion-tab-button>
    <ion-tab-button tab="mis-votapps" [routerLink]="['dashboard/mis-votapps']">
      <ion-icon name="book-outline"></ion-icon>
      Mis Votapps
    </ion-tab-button>
    <ion-tab-button tab="tipos-de-votaciones">
      <ion-icon name="reader-outline"></ion-icon>
      Nueva Votapp
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>