<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.slogans.first' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-img src="/assets/logo/votapp-logo.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-sm="5">
        <h2 class="text-center font-light mb-3">Ingresa tu correo electronico y nombre</h2>
        <form [formGroup]="loginForm">
          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.email' | translate }}</mat-label>
                <input type="email" formControlName="email" matInput placeholder="Ingresa su correo electronico">
                <mat-error class="text-sm"
                  *ngIf="loginForm.get('email')?.errors?.['email'] && !loginForm.get('email')?.errors?.['required'] && !loginForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe ser valido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="loginForm.get('email')?.errors?.['required'] && !loginForm.get('email')?.errors?.['maxlength']">
                  El correo electronico es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="loginForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe tener como maximo 60 caracteres.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-4">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.password' | translate }}</mat-label>
                <input formControlName="password" matInput placeholder="Ingresa tu contraseña" type="password"
                  class="mb-2" [type]="hidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm"
                  *ngIf="loginForm.get('password')?.errors?.['required'] && !loginForm.get('password')?.errors?.['minlength']">
                  El campo contraseña es requrido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="loginForm.get('password')?.errors?.['minlength'] && !loginForm.get('password')?.errors?.['required']">
                  El campo contraseña debe tener como minimo 6 caracteres.
                </mat-error>
                <mat-error class="text-sm" *ngIf="loginForm.get('password')?.errors?.['badCredentials']">
                  El correo electronico o contraseña son incorrectos.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center" size-lg="3" size-xs="10">
        <button class="loginButton tracking-wider mb-4 text-xl font-medium" mat-raised-button
          (click)="submitLoginForm()" color="primary">{{'app.forms.util.submit' | translate | uppercase}}</button>
        <div class="mb-3">
          <a href="#" [routerLink]="['/auth/password-reset-token']"
            class="no-underline text-orange-500/[.80]">{{'app.forms.auth.forgotPassword'
            | translate}}</a>
        </div>
        <div class="mb-2">
          <a href="#" [routerLink]="['/auth/register']"
            class="mb-3 no-underline text-orange-500/[.80]">{{'app.forms.auth.newUserButton'
            | translate}}</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-base ion-text-center"> {{'app.slogans.second' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-footer>