<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.slogans.first' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center mb-1">
      <ion-col size="auto">
        <ion-img class="logo-votapp" src="/assets/logo/votapp.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="5" size-xs="12" size-md="8" size="10">
        <h2 class="text-center font-light">Contanos de vos para poder ingresar</h2>
        <form [formGroup]="signUpForm">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <mat-form-field [ngClass]="{'mb-3': !signUpForm.get('email')?.valid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)}" appearance="outline">
                <mat-label>{{'app.forms.auth.email' | translate | titlecase}}</mat-label>
                <input type="email" formControlName="email" matInput placeholder="Ingresa su correo electronico">
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('email')?.errors?.['email'] && !signUpForm.get('email')?.errors?.['required'] && !signUpForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe ser valido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('email')?.errors?.['required'] && !signUpForm.get('email')?.errors?.['maxlength']">
                  El correo electronico es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe tener como maximo 60 caracteres.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('email')?.errors?.['duplicateEmail']">
                  El correo electronico ya en uso.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size="12">
              <mat-form-field [ngClass]="{'mb-3': !signUpForm.get('name')?.valid && (signUpForm.get('name')?.dirty || signUpForm.get('name')?.touched)}" appearance="outline">
                <mat-label>{{'app.userInfo.name' | translate | titlecase}}</mat-label>
                <input formControlName="name" matInput placeholder="Ingresa tu nombre">
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('name')?.errors?.['required'] && !signUpForm.get('name')?.errors?.['maxlength'] && !signUpForm.get('name')?.errors?.['minlength']">
                  El nombre es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('name')?.errors?.['maxlength']">
                  El nombre debe tener como maximo 45 caracteres.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('name')?.errors?.['minlength']">
                  El nombre debe tener al menos 6 caracteres.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size="12">
              <mat-form-field [ngClass]="{'mb-3': !signUpForm.get('surname')?.valid && (signUpForm.get('surname')?.dirty || signUpForm.get('surname')?.touched)}" appearance="outline">
                <mat-label>{{'app.userInfo.surname' | translate | titlecase}}</mat-label>
                <input formControlName="surname" matInput placeholder="Ingresa tu apellido">
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('surname')?.errors?.['required'] && !signUpForm.get('surname')?.errors?.['maxlength'] && !signUpForm.get('surname')?.errors?.['minlength']">
                  El apellido es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('surname')?.errors?.['maxlength']">
                  El apellido debe tener como maximo 45 caracteres.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('surname')?.errors?.['minlength']">
                  El apellido debe tener al menos 6 caracteres.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size="12">
              <mat-form-field [ngClass]="{'mb-2': !signUpForm.get('residenceCountry')?.valid && (signUpForm.get('residenceCountry')?.dirty || signUpForm.get('residenceCountry')?.touched)}" appearance="outline">
                <mat-label>{{'app.userInfo.residenceCountry' | translate | titlecase}}</mat-label>
                <input type="text" formControlName="residenceCountry" matInput placeholder="Elegi tu pais de residencia"
                  [matAutocomplete]="auto" autocomplete="disabled">
                  <mat-error class="text-sm" *ngIf="signUpForm.get('residenceCountry')?.errors?.['required']">
                    El pais de residencia es requerido.
                  </mat-error>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let country of countries | async" [value]="country.name">
                    <span>{{country.name}}</span> |
                    <img *ngIf="country.flagImage" alt="country.name" class="example-option-img"
                      src="https://flagcdn.com/48x36/{{country.flagImage | lowercase}}.png" height="25">
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size="12">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.userInfo.language' | translate | titlecase}}</mat-label>
                <input type="text" aria-label="Number" formControlName="language" matInput
                  placeholder="Elegi tu idioma preferido" [matAutocomplete]="auto2" autocomplete="disabled">
                <mat-error class="text-sm" *ngIf="signUpForm.get('language')?.errors?.['required']">
                  El idioma es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('language')?.errors?.['idiomaInvalido']">
                  El idioma especificado no es valido.
                </mat-error>
                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                  <mat-option *ngFor="let option of langs | async" [value]="option.language">
                    {{option.language}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size="12">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.userInfo.birthYear' | translate | titlecase}}</mat-label>
                <input type="number" formControlName="yearBirth" matInput placeholder="Escribi tu año de nacimiento">
                <mat-error class="text-sm" *ngIf="signUpForm.get('yearBirth')?.errors?.['required']">
                  El año de nacimiento es requerido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('yearBirth')?.errors?.['max']">
                  La año de nacimiento debe ser menor al año actual.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size="12">
              <mat-form-field [ngClass]="{'mb-3': !signUpForm.get('password')?.valid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)}" appearance="outline">
                <mat-label>{{'app.forms.auth.password' | translate | titlecase}}</mat-label>
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput autocomplete="true"
                  placeholder="Escribi tu contraseña">
                <button tabindex="-1" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('password')?.errors?.['required'] && !signUpForm.get('password')?.errors?.['minlength']">
                  La contraseña es requerida.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('password')?.errors?.['minlength']">
                  La contraseña debe tener como minimo 6 caracteres.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size="12">
              <mat-form-field [ngClass]="{'mb-3': !signUpForm.get('repeatPassword')?.valid && (signUpForm.get('repeatPassword')?.dirty || signUpForm.get('repeatPassword')?.touched)}" appearance="outline">
                <mat-label>{{'app.forms.auth.signup.repeatPassword' | translate | titlecase}}</mat-label>
                <input [type]="hideRepeatPassword ? 'password' : 'text'" autocomplete="true" 
                (keydown.enter)="submitSignUpForm()" formControlName="repeatPassword" matInput placeholder="Escribi tu contraseña">
                <button tabindex="-1" mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
                  <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('repeatPassword')?.errors?.['required'] && !signUpForm.get('repeatPassword')?.errors?.['minlength']">
                  La campo repetir contraseña es requerido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('repeatPassword')?.errors?.['minlength'] && !signUpForm.get('repeatPassword')?.errors?.['required']">
                  La campo repetir contraseña debe tener como minimo 6 caracteres.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('repeatPassword')?.errors?.['passwordsMustMatch'] && !signUpForm.get('repeatPassword')?.errors?.['required']">
                  Los campos contraseña y repetir contraseña deben coincidir.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center" size="8" size-lg="3" size-md="6">
        <button class="registerButton tracking-wider mb-3 text-xl font-medium" mat-raised-button
          (click)="submitSignUpForm()" color="primary">{{'app.forms.auth.signup.submit' |
          translate | uppercase}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-base ion-text-center"> {{'app.slogans.second' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-footer>