<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.slogans.first' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center mb-1">
      <ion-col size="auto">
        <ion-img src="/assets/logo/votapp-logo.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-sm="5">
        <h2 class="text-center font-light mb-3">Contanos de vos para poder ingresar</h2>
        <form [formGroup]="signUpForm">
          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.email' | translate }}</mat-label>
                <input type="email" formControlName="email" matInput placeholder="Ingresa su correo electronico">
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('email')?.errors?.['email'] && !signUpForm.get('email')?.errors?.['required'] && !signUpForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe ser valido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('email')?.errors?.['required'] && !signUpForm.get('email')?.errors?.['maxlength']">
                  El correo electronico es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe tener como maximo 60 caracteres.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.get('email')?.errors?.['duplicateEmail']">
                  El correo electronico ya en uso.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.userInfo.name' | translate }}</mat-label>
                <input formControlName="name" matInput placeholder="Ingresa tu nombre">
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('name')?.invalid && (signUpForm.get('name')?.dirty || signUpForm.get('name')?.touched)">{{getNameErrorMessage()}}</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.userInfo.surname' | translate }}</mat-label>
                <input formControlName="surname" matInput placeholder="Ingresa tu apellido">
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('surname')?.invalid && (signUpForm.get('surname')?.dirty || signUpForm.get('surname')?.touched)">{{getSurnameErrorMessage()}}</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.userInfo.residenceCountry' | translate }}</mat-label>
                <input type="text" formControlName="residenceCountry" matInput placeholder="Elegi tu pais de residencia"
                  [matAutocomplete]="auto" autocomplete="disabled">
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('residenceCountry')?.invalid && (signUpForm.get('residenceCountry')?.dirty || signUpForm.get('residenceCountry')?.touched)">{{getResidenceCountryErrorMessage()}}</mat-error>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let country of countries | async" [value]="country.name">
                    <span>{{country.name}}</span> | 
                    <img *ngIf="country.flagImage" alt="country.name" class="example-option-img" src="https://flagcdn.com/48x36/{{country.flagImage | lowercase}}.png"
                      height="25">
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.userInfo.language' | translate }}</mat-label>
                <input type="text" aria-label="Number" formControlName="language" matInput
                  placeholder="Elegi tu idioma preferido" [matAutocomplete]="auto2" autocomplete="disabled">
                <mat-error class="text-sm">{{getLanguageErrorMessage()}}</mat-error>
                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                  <mat-option *ngFor="let option of langs | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.userInfo.birthYear' | translate }}</mat-label>
                <input type="number" formControlName="yearBirth" matInput placeholder="Escribi tu año de nacimiento">
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('yearBirth')?.invalid && (signUpForm.get('yearBirth')?.dirty || signUpForm.get('yearBirth')?.touched)">{{getYearBirthErrorMessage()}}</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.password' | translate }}</mat-label>
                <input type="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput
                  placeholder="Escribi tu contraseña">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm"
                  *ngIf="(signUpForm.touched || signUpForm.dirty)">{{getPasswordErrorMessage()}}</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.signup.repeatPassword' | translate }}</mat-label>
                <input type="password" [type]="hideRepeatPassword ? 'password' : 'text'"
                  formControlName="repeatPassword" matInput placeholder="Escribi tu contraseña">
                <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
                  <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('repeatPassword')?.errors?.['required'] && !signUpForm.get('repeatPassword')?.errors?.['minlength']">
                  La campo repetir contraseña es requerido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="signUpForm.get('repeatPassword')?.errors?.['minlength'] && !signUpForm.get('repeatPassword')?.errors?.['required']">
                  La campo repetir contraseña debe tener como minimo 6 caracteres.
                </mat-error>
                <mat-error class="text-sm" *ngIf="signUpForm.errors?.['passwordsMustMatch']">
                  Los campos contraseña y repetir contraseña deben coincidir.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center" size-lg="3" size-xs="10">
        <ion-button type="submit" class="text-lg font-medium mb-4" (click)="submitSignUpForm()" expand="block"
          [disabled]="!signUpForm.valid" size="medium" expand="full" color="tertiary">{{'app.forms.auth.signup.submit' |
          translate}}</ion-button>
        <div class="mb-2">
          <a href="#" [routerLink]="['/auth/login']" class="no-underline text-orange-500/[.80]">Ya formas parte?
            Ingresa!.</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-base ion-text-center"> {{'app.slogans.second' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-footer>