<div class="header">
  <div class="left">
    <div class="top">
      <button (click)="navigateBack()" class="back-button">GO BACK</button>
      <div class="title">
        XD
      </div>
    </div>
    <a class="author" href="https://codepen.io/konstantindenerz">Konstantin Denerz</a>
  </div>
  <div class="right">
  </div>
  <div class="bottom">
    <div class="tab-group-mock">
      <div class="tab">HTML</div>
      <div class="tab">SCSS</div>
      <div class="tab">JS</div>
      <div class="tab active">
        RESULT
      </div>
    </div>
  </div>
</div>
<div class="preview">
</div>
<div class="content">
  <div class="separator">
    <div class="grip"></div>
  </div>
  <div class="toolbar">
    <div class="left">
    </div>
    <div class="right">
      <div class="labs-slider-mock"></div>
    </div>
  </div>
  <div class="details">
    <div class="left">
      <div class="description">
        Description of the project made with ❤️.
      </div>
    </div>
    <div class="right"></div>
  </div>
</div>