mat-card {
    margin-top: .5rem;
}

.logo {
    width: 64px;
    height: 64px;
    background-size: cover;
}

.icon-logo {
    width: 64px;
    height: 64px;
    font-size: 56px;
}

mat-card-title {
    font-size: .95rem;
}

mat-card-subtitle {
    font-size: .9rem;
    margin-top: 1px;
    margin-bottom: 4px;
}

.mat-mdc-card-header {
    padding: 10px 16px 10px 16px;
}

.mat-mdc-card-header-text {
    min-width: 200px !important;
}

.mdc-card__actions {
    justify-content: space-around;
}

.card-content-box {
    width: 100%;
}

.mat-mdc-card-avatar {
    margin-bottom: 0 !important;
}

@media (max-width: 300px) {
    mat-card-header {
        justify-content: center !important
    }
}
 

@media not all and (min-width: 768px) {
    .ocultarBotones {
        display: none !important;
    }
}