
mat-card {
    margin-top: .5rem;
}

.logo {
    width: 64px;
    height: 64px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-subtitle {
    margin-top: 1px;
    margin-bottom: 4px;
}

.mat-mdc-card-header {
    padding: 10px;
}

.mat-mdc-card-header-text {
    min-width: 200px !important;
}

.mdc-card__actions {
    justify-content: space-around;
}

.card-content-box {
    width: 100%;
}

.mat-mdc-card-avatar {
    margin-bottom: 0 !important;
}