.mdc-card {
    flex-direction: row !important;
}

mat-card {
    margin-top: .5rem;
}

.mat-mdc-card-header {
    align-items: center;
}

.logo {
    width: 56px;
    height: 56px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-subtitle {
    margin-top: 1px;
    margin-bottom: 4px;
}

.mat-mdc-card-header {
    padding: 8px 8px;
}

.mdc-card__actions {
    width: 300px;
    padding: 0;
    justify-content: space-around;
}

.card-content-box {
    width: 100%;
}