<ion-menu type="overlay" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-sm">INICIO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="flex h-full flex-col">
      <div class="flex flex-col grow">
        <ion-menu-toggle>
          <button class="boton-menu uppercase border-gradient border-gradient-purple py-2 my-2"
            [matMenuTriggerFor]="opcionesVotacion">
            <mat-icon class="mb--5 me-1">groups</mat-icon>
            Crear comunidad
          </button>
          <mat-menu #opcionesVotacion="matMenu" xPosition="before">
            <button mat-menu-item [routerLink]="['/nueva-votapp']"
              [queryParams]="{votacionTipo: 'porcentaje'}"><mat-icon>percent</mat-icon></button>
            <button mat-menu-item [routerLink]="['/nueva-votapp']"
              [queryParams]="{votacionTipo: 'persona'}"><mat-icon>groups</mat-icon></button>
            <button mat-menu-item disabled><mat-icon>account_balance</mat-icon></button>
            <button mat-menu-item disabled><mat-icon>social_distance</mat-icon></button>
          </mat-menu>
          <button class="boton-menu uppercase border-gradient border-gradient-purple py-2 my-2"
            [routerLink]="['/auth/password-reset-token']">
            <mat-icon class="mb--5 me-1">vpn_key</mat-icon>
            Cambiar contraseña
          </button>
        </ion-menu-toggle>
      </div>
      <div class="flex flex-col">
        <ion-menu-toggle>
          <button class="boton-menu uppercase border-gradient border-gradient-purple py-2 my-5"
            (click)="cerrarSesion()">
            <mat-icon class="mb--5 me-1">logout</mat-icon>
            Cerrar sesion
          </button>
        </ion-menu-toggle>
      </div>
    </div>
  </ion-content>
</ion-menu>