#orangeButton {
    --mdc-outlined-button-outline-color: #f44336 !important;
}

#blueButton {
    --mdc-outlined-button-outline-color: #3f51b5 !important;
}
.justify-start {
    justify-content: start !important;
}

.ultimosBotones {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.colControlesHora {
    margin-bottom: -1rem;
}

ion-datetime {
    --background: rgb(249 250 251);
    --background-rgb: rgb(249 250 251);
}