.openVotappsButton {
    width: 100%;
    padding: 1.3rem .5rem 1.3rem .5rem;
}

#orangeButton {
    --mdc-outlined-button-outline-color: #f44336 !important;
}

#blueButton {
    --mdc-outlined-button-outline-color: #3f51b5 !important;
}

.scrollable {
    overflow-y: scroll;
}

.justify-start {
    justify-content: start !important;
}