<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.slogans.first' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-img class="logo-votapp" src="/assets/logo/votapp.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="5" size-xs="12" size-md="8" size="10">
        <h2 class="text-center font-light">Reingresá tus datos y tu nueva contraseña</h2>
        <form [formGroup]="passwordResetForm">
          <ion-row class="ion-justify-content-center mb-4">
            <ion-col size="12">
              <mat-form-field appearance="outline">
                <mat-label>Token</mat-label>
                <input type="number" formControlName="token" matInput placeholder="Escribi el token">
                <mat-error class="text-sm">
                  @if(passwordResetForm.get('token')?.errors?.['required']) {
                  El token es requerido.
                  } @else if(passwordResetForm.get('token')?.errors?.['invalidToken'] &&
                  !passwordResetForm.get('token')?.errors?.['required']) {
                  No se encontro una solicitud de cambio de contraseña con este token.
                  } @else if(passwordResetForm.get('token')?.errors?.['expiredToken'] &&
                  !passwordResetForm.get('token')?.errors?.['invalidToken'] &&
                  !passwordResetForm.get('token')?.errors?.['required']) {
                  El token para el cambio de contraseña se encuentra expirado
                  }
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-3">
            <ion-col size="12">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.password' | translate | titlecase }}</mat-label>
                <input type="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput
                  autocomplete="true" placeholder="Escribi tu contraseña">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm">
                  @if(passwordResetForm.get('password')?.errors?.['required'] &&
                  !passwordResetForm.get('password')?.errors?.['minlength']) {
                  La contraseña es requerida.
                  } @else if(passwordResetForm.get('password')?.errors?.['minlength'] &&
                  !passwordResetForm.get('password')?.errors?.['required']) {
                  La contraseña debe tener como minimo 6 caracteres.
                  }
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-3">
            <ion-col size="12">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.signup.repeatPassword' | translate | titlecase }}</mat-label>
                <input type="password" [type]="hideRepeatPassword ? 'password' : 'text'" autocomplete="true"
                  formControlName="repeatPassword" matInput placeholder="Escribi tu contraseña">
                <button type="button" mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
                  <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm">
                  @if(passwordResetForm.get('repeatPassword')?.errors?.['required'] &&
                  !passwordResetForm.get('repeatPassword')?.errors?.['minlength']) {
                  El campo repetir contraseña es requerido.
                  } @else if(passwordResetForm.get('repeatPassword')?.errors?.['minlength'] &&
                  !passwordResetForm.get('repeatPassword')?.errors?.['required']) {
                  El campo repetir contraseña debe tener como minimo 6 caracteres.
                  } @else if(passwordResetForm.get('repeatPassword')?.errors?.['passwordsMustMatch']) {
                  Los campos contraseña y repetir contraseña deben coincidir.
                  }
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center" size="10" size-lg="3" size-md="6">
        <button class="retrieveButton tracking-wider mb-4 text-lg font-medium" mat-raised-button
          [disabled]="disabledButton" (click)="submitResetPassword()"
          color="primary">{{'app.forms.auth.retrievePassword' | translate | uppercase}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-base ion-text-center"> {{'app.slogans.second' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-footer>