<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.slogans.first' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-img src="/assets/logo/votapp-logo.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-sm="5">
        <h2 class="text-center font-light mb-3">Reingresá tus tus datos y tu nueva contraseña</h2>
        <form [formGroup]="passwordResetForm">
          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>Token</mat-label>
                <input type="text" formControlName="token" matInput placeholder="Escribi el token">
                <mat-error class="text-sm" *ngIf="passwordResetForm.get('token')?.errors?.['required']">
                  La campo token es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="passwordResetForm.get('token')?.errors?.['invalidToken'] && !passwordResetForm.get('token')?.errors?.['required']">
                  No se encontro una solicitud de cambio de contraseña con este token
                </mat-error>
                <mat-error class="text-sm" *ngIf="passwordResetForm.get('token')?.errors?.['expiredToken'] && !passwordResetForm.get('token')?.errors?.['invalidToken'] && !passwordResetForm.get('token')?.errors?.['required']">
                  El token para el cambio de contraseña se encuentra expirado
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.password' | translate }}</mat-label>
                <input type="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput
                  placeholder="Escribi tu contraseña">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm"
                  *ngIf="passwordResetForm.get('password')?.errors?.['required'] && !passwordResetForm.get('password')?.errors?.['minlength']">
                  La campo contraseña es requerido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="passwordResetForm.get('password')?.errors?.['minlength'] && !passwordResetForm.get('password')?.errors?.['required']">
                  La campo contraseña debe tener como minimo 6 caracteres.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.signup.repeatPassword' | translate }}</mat-label>
                <input type="password" [type]="hideRepeatPassword ? 'password' : 'text'"
                  formControlName="repeatPassword" matInput placeholder="Escribi tu contraseña">
                <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
                  <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-sm"
                  *ngIf="passwordResetForm.get('repeatPassword')?.errors?.['required'] && !passwordResetForm.get('repeatPassword')?.errors?.['minlength']">
                  La campo repetir contraseña es requerido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="passwordResetForm.get('repeatPassword')?.errors?.['minlength'] && !passwordResetForm.get('repeatPassword')?.errors?.['required']">
                  La campo repetir contraseña debe tener como minimo 6 caracteres.
                </mat-error>
                <mat-error class="text-sm" *ngIf="passwordResetForm.errors?.['passwordsMustMatch']">
                  Los campos contraseña y repetir contraseña deben coincidir.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center" size-lg="4" size-xs="10">
        <ion-button type="submit" class="font-medium mb-4 px-2" (click)="submitResetPassword()" expand="block"
          size="medium" expand="full" color="tertiary">{{'app.forms.auth.retrievePassword' |
          translate}}</ion-button>
        <div class="mb-3">
          <a href="#" [routerLink]="['/auth/login']" class="no-underline text-orange-500/[.80]">Ya formas parte?
            Ingresa!.</a>
        </div>
        <div class="mb-2">
          <a href="#" [routerLink]="['/auth/register']"
            class="mb-3 no-underline text-orange-500/[.80]">{{'app.forms.auth.newUserButton'
            | translate}}</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-base ion-text-center"> {{'app.slogans.second' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-footer>