.botonesVotacionTipo {
    width: 4rem;
    height: 4rem;

    mat-icon {
        width: 2.33rem;
        height: 2.33rem;
        font-size: 2.33rem;
    }
}

.padding-2 {
    padding-right: 1.5rem;
}