<mat-dialog-content class="mat-typography">
    <h3>Te enviamos un correo electrónico con un token numérico que necesitarás ingresar en el próximo paso</h3>
    <p>No te olvides de revisar la carpeta <b>spam</b>, y ajustar la configuración de tu correo para garantizar que los
        mensajes se puedan entregar correctamente.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-raised-button color="darkPrimary" mat-dialog-close>Continuar</button>
</mat-dialog-actions>