<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.slogans.first' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-img src="/assets/logo/votapp.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="5" size-xs="12" size-md="8" size="10">
        <h2 class="text-center font-light mb-3">Restablece tu contraseña</h2>
        <form [formGroup]="recuperoContraseniaForm">
          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size="12">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.email' | translate | titlecase}}</mat-label>
                <input type="email" formControlName="email" matInput placeholder="Ingresa su correo electronico">
                <mat-error class="text-sm"
                  *ngIf="recuperoContraseniaForm.get('email')?.errors?.['email'] && !recuperoContraseniaForm.get('email')?.errors?.['required'] && !recuperoContraseniaForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe ser valido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="recuperoContraseniaForm.get('email')?.errors?.['required'] && !recuperoContraseniaForm.get('email')?.errors?.['maxlength']">
                  El correo electronico es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="recuperoContraseniaForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe tener como maximo 60 caracteres.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center" size="9" size-lg="3" size-md="6">
        <button class="resetButton tracking-wider mb-4 text-medium font-medium" mat-raised-button
          (click)="enviarEmailRecuperoContrasenia()" color="primary">{{'app.forms.auth.retrievePassword' | translate |
          uppercase}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-base ion-text-center"> {{'app.slogans.second' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-footer>