<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{'app.slogans.first' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-img src="/assets/logo/votapp-logo.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-sm="5">
        <h2 class="text-center font-light mb-3">Recupera tu contraseña ingresando tu correo electronico y nombre</h2>
        <form [formGroup]="passwordResetTokenForm">
          <ion-row class="ion-justify-content-center mb-1">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.email' | translate }}</mat-label>
                <input type="email" formControlName="email" matInput placeholder="Ingresa su correo electronico">
                <mat-error class="text-sm"
                  *ngIf="passwordResetTokenForm.get('email')?.errors?.['email'] && !passwordResetTokenForm.get('email')?.errors?.['required'] && !passwordResetTokenForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe ser valido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="passwordResetTokenForm.get('email')?.errors?.['required'] && !passwordResetTokenForm.get('email')?.errors?.['maxlength']">
                  El correo electronico es requerido.
                </mat-error>
                <mat-error class="text-sm" *ngIf="passwordResetTokenForm.get('email')?.errors?.['maxlength']">
                  El correo electronico debe tener como maximo 60 caracteres.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <!-- <ion-row class="ion-justify-content-center">
            <ion-col size-lg="8" size-sm="5">
              <mat-form-field appearance="outline">
                <mat-label>{{'app.forms.auth.password' | translate }}</mat-label>
                <input formControlName="password" matInput placeholder="Ingresa tu contraseña">
                <mat-error class="text-sm"
                  *ngIf="passwordResetTokenForm.get('password')?.errors?.['required'] && !passwordResetTokenForm.get('password')?.errors?.['minlength']">
                  El campo contraseña es requrido.
                </mat-error>
                <mat-error class="text-sm"
                  *ngIf="passwordResetTokenForm.get('password')?.errors?.['minlength'] && !passwordResetTokenForm.get('password')?.errors?.['required']">
                  El campo contraseña debe tener como minimo 6 caracteres.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row> -->
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="text-center" size-lg="4" size-xs="11">
        <ion-button type="submit" class="text-medium font-medium mb-4 px-2" (click)="submitPasswordResetRequest()"
          expand="block" size="medium" expand="full" color="tertiary">{{'app.forms.auth.retrievePassword' |
          translate}}</ion-button>
        <div class="mb-3">
          <a href="#" [routerLink]="['/auth/login']" class="no-underline text-orange-500/[.80]">Ya formas parte?
            Ingresa!.</a>
        </div>
        <div class="mb-2">
          <a href="#" [routerLink]="['/auth/register']"
            class="mb-3 no-underline text-orange-500/[.80]">{{'app.forms.auth.newUserButton'
            | translate}}</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="text-base ion-text-center"> {{'app.slogans.second' | translate | uppercase}} </ion-title>
  </ion-toolbar>
</ion-footer>