.fit-height {
    height: -webkit-calc(100vh - 60px) !important;
    height: calc(100vh - 60px) !important;
}

.ion-page {
    container-type: inline-size
}

.botonesInicio {
    width: 90%;
    font-size: 1.1rem;
    padding: 1rem .2rem 1rem .2rem;
}

@container (max-width: 180px) {
    .col-misVotapps {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        display: none;
    }
}

.enLibro {
    font-size: .75rem !important;
}