/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* @import 'tailwindcss/base';*/
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Oleo Script';
    src: url('OleoScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oleo Script';
    src: url('OleoScript-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
              clip-path: circle(0% at 0% 0%);
    }
    100% {
      -webkit-transform: translateZ(860px);
              transform: translateZ(860px);
              clip-path: circle(100% at 0% 0%);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
              clip-path: circle(0% at 0% 0%);
    }
    100% {
      -webkit-transform: translateZ(860px);
              transform: translateZ(860px);
              clip-path: circle(100% at 0% 0%);
    }
  }

ion-grid {
    --ion-grid-padding: 0px;
}

.ion-no-padding {
    --ion-grid-column-padding: 0px !important;
}

.ion-no-top-padding {
    --ion-grid-column-padding: 5px 0px 5px 5px !important;
}

.mat-mdc-form-field {
    display: flex !important;
    /* margin-bottom: 0 !important;
    padding-bottom: 0 !important; */
}

.ion-padding {
    --padding-top: 0;
    --padding-bottom: 0;
}

.mat-green {
    color: #fff !important;
    background-color: #4ade80 !important;
}

.mat-darkPrimary {
    color: #fff !important;
    background-color: darken(#3f51b5, 15%) !important;
    border: 2px solid darken(#3f51b5, 15%) !important;
}

.mat-tomato {
    color: #fff !important;
    background-color: #ff6055 !important;
}

.mat-error {
    color: white !important;
    background-color: rgb(239 68 68) !important;
}

.mat-white {
    color: #3f51b5 !important;
    background-color: white !important;
    border: 2px solid #3f51b5 !important;
}

.mat-white-g {
    color: darken(#4ade80, 10%) !important;
    background-color: white !important;
    border: 2px solid darken(#4ade80, 5%) !important;
}

.mat-sky-300 {
    color: rgb(125 211 252);
    background-color: transparent !important;
}

.mat-yellow-300 {
    color: rgb(253 224 71);
    background-color: transparent !important;
}

.mat-gray-300 {
    color: rgb(209 213 219);
    background-color: transparent !important;
}

.border-primary {
    border-color: #3f51b5 !important;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.mat-green:disabled {
    color: var(--mdc-protected-button-disabled-container-color) !important;
    background-color: var(--mdc-protected-button-container-color) !important;
}

.mat-mdc-outlined-button.mat-tomato {
    color: #ff6055 !important;
    background-color: transparent !important;
}

.min-height-2 {
    min-height: 2rem;
}

.mat-mdc-card-title {
    --mat-card-title-text-weight: 500;

}

.mat-mdc-card {
    --mdc-elevated-card-container-elevation: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.mat-mdc-tab-list {
    background-color: rgb(249 250 251) !important;
}

.mat-mdc-tab.mdc-tab {
    flex-grow: 1 !important;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
    --mat-stepper-container-color: rgb(249 250 251) !important;
}

.mat-vertical-content-container {
    margin-left: 24px !important;
}

.mat-vertical-stepper-header {
    padding-left: 12px !important;
}

.mat-mdc-tab-header {
    z-index: 0 !important;
}

.text-wrap {
    text-wrap: wrap;
}

.text-1r {
    font-size: 1rem !important;
}

.border-radius-1r {
    border-radius: 1rem !important;
}

.logo-votapp {
    width: 70vw;
}

.-scale-x-1 {
    transform: scaleX(-1) !important;
}